{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="page-info-section set-bg" data-setbg="{% static 'webuni/img/page-bg/2.jpg' %}">
    <div class="container">
        <div class="site-breadcrumb">
          <a href="/">Home</a>
            <span>Upload Lecture</span>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h2>Upload Lecture</h2>
    <form method="post" action="{% url 'instructor:upload_lecture' %}">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        <div class="form-group">
            {% bootstrap_field form.link %}
        </div>
        <div class="form-group">
            {% bootstrap_field form.date %}
        </div>
        <div class="form-group">
            {% bootstrap_field form.start_time %}
        </div>
        <div class="form-group">
            {% bootstrap_field form.end_time %}
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock content %}
